.dh_2{
	color: #000000;
    font-size: 20px;
    border-bottom: 2px solid red;
    padding-bottom: 8px;
    margin-left: -13px;
}

.conh{
	font-size: 20px;
    white-space: normal;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    color: rgb(2 0 0);
    line-height: 1.2;
    flex: 1 1 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: SolaimanLipi,AdorshoLipi,voice;
    font-weight: 400;
    line-height: 2.0rem;
    letter-spacing: .0071428571em;
}
.conp{
	font-size: 12px;
    color: #aba8a8d4;
    text-align: justify;
    margin-left: -10px;
    white-space: normal;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    line-height: 1.2;
    flex: 1 1 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: SolaimanLipi,AdorshoLipi,voice;
    font-weight: 400;
    line-height: 1.0rem;
    letter-spacing: .0071428571em;
}