
/* deshbord */
.content-header {
    padding: 15px 0.5rem;
    background-color: black;
    color: white;
}

/* footer  */

.navbar-expand .navbar-nav .nav-link{
    color:white;
}
.content-wrapper{
    background-color:black;
}

.deshb{
    margin-left: 240px;
}